*{
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
head{
    display: none;
}
body{
    font:normal 100% sans-serif;
}
#navbar{
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
#navbarlogo{
    float: left;
}
#navbarlogo h1{
    font-size: 2em;
}
#navbarlogo a{
    text-decoration: none;
    color: black;
}
#navbarmenu{
    font-size: 1.5em;
}
#navbarmenu p{
    display: none;
}
#navbarlist{
    text-align: right;
    list-style-type: none;
}
#navbarlist li{
    display: inline-block;
    padding-right: 15px;
}
#navbarlist a{
    color: black;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
@media screen and (max-width:600px) {
    /* #navbarlogo a{
        color: blue;
    } */
    #navbarmenu p{
        display: block;
        text-align: right;
        padding-right: 15px;
    }
    #navbarlist li{
        display: none;
    }
}
